default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: msd_development

test:
  <<: *default
  database: msd_test

production:
  <<: *default
  database: msd_production